body{
    display: block;
    background-color:lightblue;
}
p{
    background-color:white;
    text-align: center;
    padding: 1em;
    margin:2em;
}
h1,h2,nav{
    text-align: center;
}
nav a{
    display: inline;
    background-color:white;
    text-align: center;
    padding:1em;
    text-decoration: none;
    color:black;
}
a:hover{
    background-color:black;
    color:white;
}
nav{
    margin-top:2em;
    margin-bottom:2em;
    text-align:center;
}
.navpage{color:blue;}
.greystyle{color:gray;}
#piano{
    margin: auto;
    padding:3em 0 0 3em;
    position:relative;
    left:34%;
}
img{
    margin:0;
    padding:0;
    position: relative;
}
.black,.white{
    float:left;
}
#gSharp{
    position: relative;
    left:15px;
}
#aSharp{
    position: relative;
    right:9px;
}
#b-note{
    position: relative;
    right:17px;
}
#c-note{
    position: relative;
    right:18px;
}
#cSharp{
    position: relative;
    right:57px;
}
#d-note{
    position:relative;
    right:35px;
}
#dSharp{
    position: relative;
    right:83px;
}
#e-note{
    position: relative;
    right: 52px;
}
#f-note{
    position: relative;
    right:53px;
}
#fSharp{
    position: relative;
    right:131px;
}
#g-note{
    position: relative;
    right:70px;
}

/*styling the light bars*/
#lights,.bar{
    text-align: left;
    padding:.25em;
    margin:.25em;;
}